@model BugDS.Models.CodeFirst.Project

<div class="container">
    <br />
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading"><h4><strong>Delete Ticket</strong></h4></div>
            <div class="panel-body">

                <h3>Are you sure you want to delete @Html.DisplayFor(model => model.Name)?</h3>
                <div>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="col-md-offset-4 col-md-10">
                            <input type="submit" value="Delete" class="btn btn-danger" />
                            @Html.ActionLink("Nevermind", "Index", "Projects", null, new { @class = "btn btn-success" })
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>